<div class="container">
  <p>You've completed a round of <%= @round.deck.name %>. You answered <%= @round.answered_first_try %> / <%= @round.cards.count %> cards correctly on the first try. You submitted <%= @round.total_guesses %> total guesses before all cards were answered correctly.</p>
  <p><a href="/decks">Play another game!</a></p>
</div>
