<form method="post" action="/users/login">
    <label for="user_name_input">Username: </label>
    <input id="user_name_input" name="user[name]" type="text" value="">

    <label for="user_password_hash_input">Password: </label>
    <input id="user_password_hash_input" name="user[password]" type="text" value="">

    <input type="submit" value="Log in" class="button">
</form>
