<div class="container">
  <h5><%= @guess.deck.name %></h5>
</div>
<div class="container">
  <h3><%= @guess.card.question %></h3>
  <form role="form" method="post" action=<%= "/guesses/#{@guess.id}" %>>
    <div class="form-group">
      <label for="answer" >Your answer:</label>
      <input name="answer" type="text" />
    </div>
    <input type="submit" value="Submit Guess" class="btn btn-default">
  </form>
</div>
