<h3><%= @guess.deck.name %><h3>
<main class='form-wrapper' role="main">
  <p><%= @guess.card.question %></p>
  <form method="post" action=<%= "/guesses/#{@guess.id}" %>>
    <label for="answer" >Your answer:</label>
    <input name="answer" type="text" />
    <input type="submit" value="submit guess" class="button">
  </form>
</main>
