<div class="container">
  <h3>Create your own deck!</h3>
  <form role="form" action='/decks' method="post">
    <div class="form-group">
      <label for="deck name">Deck Name:</label>
      <input class="form-control" type="text" name="deck[name]"/>
    </div>
    <input class="btn btn-default" type="submit" value="Create Deck!"/>
  </form>
</div>
