<% if current_user %>
  <a href="/users/<%= session[:user_id] %>">Your Profile</a>
  <a href="/users/logout">Logout</a>
<% else %>
  <a href="users/new">Sign Up</a>
  <a href="users/login">Log In</a>
<% end %>
