
<% if current_user %>
  <% @decks.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
<% else %>
  <h2> Sign up now to play: </h2>
    <% @decks.each do |deck| %>
      <li><%= deck.name %><li>
    <% end %>
<% end %>
