<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Flash Forward</title>
</head>
<body>
<div class="container"><h1>Flash Forward</h1>
<h3><small>Your Flashcard Game Center</small></h3></div>
<% if logged_in? %>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/<%= session[:user_id] %>"><%= current_user.name %></a></li>
      <li><a href="/users/logout">Logout</a></li>
      <li><a href="/">Home</a></nav></li>
    </ul>
  </div>
<% else %>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/new">Sign up</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/">Home</a></nav></li>
    </ul>
  </div>
<% end %>
<div class="flash"><%= flash[:message] %></div>
  <%= yield %>
</body>
</html>
