<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Flash Forward</title>
</head>
<body>
<h1>Flash Forward</h1>
<h3>Your Flashcard Game Center</h3>
<% if logged_in? %>
  <nav class="nav_bar"><a href="/users/<%= session[:user_id] %>"><%= current_user.name %></a> | <a href="/users/logout">Logout</a> | <a href="/">Home</a></nav>
<% else %>
  <nav class="nav_bar"><a href="/users/new">Sign up</a> | <a href="/users/login">Login</a> | <a href="/">Home</a></nav>
<% end %>
  <div class="flash"><%= flash[:message] %></div>
  <%= yield %>
</body>
</html>
