<div class="container">
  <h4>You are not authorized to view this page.</h4>
  <h4>But it is easy to gain access! Simply <a href="/users/new">sign up</a> or <a href="/users/login">log in</a>! It's free!</h4>
</div>